snippet deployment "A Kubernetes Deployment"
FOO
endsnippet

snippet pod "A Kubernetes Pod"
BAR
endsnippet

snippet service "A Kubernetes Service"
BAZ
endsnippet

snippet configmap "A Kubernetes ConfigMap"
FOOBAR
endsnippet
